[Unit]
Description=liquidWeb Full
Requires=liquidWeb-integration-runner.service liquidWeb-frame-receiver.service liquidWeb-hardware-server.service
After=network.target